---
import { giscusConfig, siteConfig } from '../config'

interface Props {
  postId: string
}

const { postId } = Astro.props
const { category, categoryId, enable, repo, repoId } = giscusConfig
const discussionTitle = `giscus - ${postId}`
---

{enable && <div class="card-base p-6">
    <div class="giscus"></div>
</div>}

<script is:inline
        src="https://giscus.app/client.js"
        data-repo={repo}
        data-repo-id={repoId}
        data-category={category}
        data-category-id={categoryId}
        data-mapping="specific"
        data-term={discussionTitle}
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang={siteConfig.lang.split("_")[0]}
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>